semana-06/bonus/03_agente_threat_intel.json
{
  "name": "03 - Agente de Threat Intel Diario",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "d1e2f3a4-0001-4000-8000-000000000001",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://api.github.com/advisories?per_page=5",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {}
      },
      "id": "d1e2f3a4-0001-4000-8000-000000000002",
      "name": "HTTP - GitHub Advisories",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GOOGLE_API_KEY || '' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [ { role: 'user', parts: [ { text: `Voce e um agente de IA para SOC. Analise os dados do item atual e responda de forma objetiva.\\n\\nDados:\\n${JSON.stringify($json, null, 2)}` } ] } ], generationConfig: { temperature: 0.3 } } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d1e2f3a4-0001-4000-8000-000000000003",
      "name": "Gemini - Briefing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        730,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "briefing",
              "value": "={{ ($json.candidates?.[0]?.content?.parts?.[0]?.text || '') }}"
            },
            {
              "name": "gerado_em",
              "value": "={{ $now.toISO() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "d1e2f3a4-0001-4000-8000-000000000004",
      "name": "Set - Estruturar Briefing",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        990,
        300
      ]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP - GitHub Advisories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP - GitHub Advisories": {
      "main": [
        [
          {
            "node": "Gemini - Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Briefing": {
      "main": [
        [
          {
            "node": "Set - Estruturar Briefing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "semana06-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "kensei-ai-foundations-semana06"
  },
  "id": "workflow-03-kensei-s06",
  "tags": [
    {
      "name": "kensei-s06"
    },
    {
      "name": "threat-intel"
    },
    {
      "name": "agent"
    }
  ]
}
