semana-06/bonus/04_orquestrador_multiagente_soc.json
{
  "name": "04 - Orquestrador Multiagente SOC",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "soc-multiagente",
        "responseMode": "responseNode"
      },
      "id": "e1f2a3b4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "kensei-s06-soc-multiagente"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GOOGLE_API_KEY || '' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [ { role: 'user', parts: [ { text: `Voce e um agente de IA para SOC. Analise os dados do item atual e responda de forma objetiva.\\n\\nDados:\\n${JSON.stringify($json, null, 2)}` } ] } ], generationConfig: { temperature: 0.3 } } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "e1f2a3b4-0001-4000-8000-000000000002",
      "name": "Gemini - Agente Analista",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        470,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GOOGLE_API_KEY || '' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [ { role: 'user', parts: [ { text: `Voce e um agente de IA para SOC. Analise os dados do item atual e responda de forma objetiva.\\n\\nDados:\\n${JSON.stringify($json, null, 2)}` } ] } ], generationConfig: { temperature: 0.3 } } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "e1f2a3b4-0001-4000-8000-000000000003",
      "name": "Gemini - Agente Resposta",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        730,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const analistaRaw = $('Gemini - Agente Analista').item.json.message?.content || '{}';\nconst respostaRaw = ($json.candidates?.[0]?.content?.parts?.[0]?.text || '') || '{}';\n\nfunction safeParse(value, fallback) {\n  try {\n    return JSON.parse(value);\n  } catch (e) {\n    return fallback;\n  }\n}\n\nconst analista = safeParse(analistaRaw, { bruto: analistaRaw });\nconst resposta = safeParse(respostaRaw, { bruto: respostaRaw });\n\nreturn [{\n  json: {\n    incidente: $('Webhook').item.json,\n    agente_analista: analista,\n    agente_resposta: resposta,\n    consolidado_em: new Date().toISOString(),\n    fluxo: '04_orquestrador_multiagente_soc'\n  }\n}];"
      },
      "id": "e1f2a3b4-0001-4000-8000-000000000004",
      "name": "Code - Consolidar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        990,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "e1f2a3b4-0001-4000-8000-000000000005",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1240,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Gemini - Agente Analista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Agente Analista": {
      "main": [
        [
          {
            "node": "Gemini - Agente Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Agente Resposta": {
      "main": [
        [
          {
            "node": "Code - Consolidar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Consolidar": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "semana06-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "kensei-ai-foundations-semana06"
  },
  "id": "workflow-04-kensei-s06",
  "tags": [
    {
      "name": "kensei-s06"
    },
    {
      "name": "multi-agent"
    },
    {
      "name": "soc"
    }
  ]
}
