semana-06/bonus/05_agente_antiphishing.json
{
  "name": "05 - Agente Anti-Phishing (Triagem + Playbook)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "phishing-triagem",
        "responseMode": "responseNode"
      },
      "id": "f1a2b3c4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        300
      ],
      "webhookId": "kensei-s06-phishing-triagem"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GOOGLE_API_KEY || '' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [ { role: 'user', parts: [ { text: `Voce e um agente de IA para SOC. Analise os dados do item atual e responda de forma objetiva.\\n\\nDados:\\n${JSON.stringify($json, null, 2)}` } ] } ], generationConfig: { temperature: 0.3 } } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "f1a2b3c4-0001-4000-8000-000000000002",
      "name": "Gemini - Analisar Phishing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = ($json.candidates?.[0]?.content?.parts?.[0]?.text || '') || '{}';\nlet analise;\n\ntry {\n  analise = JSON.parse(raw);\n} catch (e) {\n  analise = {\n    classificacao: 'suspeito',\n    prioridade: 'media',\n    score_risco: 50,\n    sinais_detectados: ['falha_ao_parsear_saida_da_ia'],\n    acao_imediata: ['revisar_manual'],\n    resposta_usuario: 'Recebemos seu reporte e vamos analisar manualmente.',\n    precisa_escalonar: false\n  };\n}\n\nconst prioridade = String(analise.prioridade || 'media').toLowerCase();\nconst score = Number(analise.score_risco || 0);\n\nconst sla_minutos = prioridade === 'alta' || score >= 80 ? 15 : prioridade === 'media' ? 60 : 240;\n\nreturn [{\n  json: {\n    entrada: $('Webhook').item.json,\n    analise,\n    sla_minutos,\n    processado_em: new Date().toISOString(),\n    workflow: '05_agente_antiphishing'\n  }\n}];"
      },
      "id": "f1a2b3c4-0001-4000-8000-000000000003",
      "name": "Code - Estruturar Saida",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        740,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ !!$json.analise.precisa_escalonar }}"
            }
          ]
        }
      },
      "id": "f1a2b3c4-0001-4000-8000-000000000004",
      "name": "IF - Escalonar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        990,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "ESCALONADO_SOC_N2"
            }
          ]
        },
        "options": {}
      },
      "id": "f1a2b3c4-0001-4000-8000-000000000005",
      "name": "Set - Escalonar",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1240,
        220
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "TRIADO_N1"
            }
          ]
        },
        "options": {}
      },
      "id": "f1a2b3c4-0001-4000-8000-000000000006",
      "name": "Set - N1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        1240,
        380
      ]
    },
    {
      "parameters": {
        "mode": "append"
      },
      "id": "f1a2b3c4-0001-4000-8000-000000000007",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1470,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ...$json, dica: 'Se for phishing confirmado, bloqueie remetente e URL no gateway.' } }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "f1a2b3c4-0001-4000-8000-000000000008",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1700,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Gemini - Analisar Phishing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Gemini - Analisar Phishing": {
      "main": [
        [
          {
            "node": "Code - Estruturar Saida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Estruturar Saida": {
      "main": [
        [
          {
            "node": "IF - Escalonar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Escalonar?": {
      "main": [
        [
          {
            "node": "Set - Escalonar",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set - N1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Escalonar": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - N1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "semana06-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "kensei-ai-foundations-semana06"
  },
  "id": "workflow-05-kensei-s06",
  "tags": [
    {
      "name": "kensei-s06"
    },
    {
      "name": "phishing"
    },
    {
      "name": "agent"
    }
  ]
}
