semana-05/01_primeiro_workflow.json
{
  "name": "01 - Frase Motivacional → Google Sheets",
  "nodes": [
    {
      "parameters": {},
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "content": "Gere uma frase motivacional curta e poderosa para profissionais de cybersecurity que estão estudando IA. Responda apenas com a frase, sem aspas, sem explicações."
            }
          ]
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000002",
      "name": "OpenAI - Gerar Frase",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [460, 300],
      "credentials": {
        "openAiApi": {
          "id": "CONFIGURE_AQUI",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "SEU_GOOGLE_SHEET_ID_AQUI",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Data": "={{ $now.format('dd/MM/yyyy HH:mm') }}",
            "Frase": "={{ $json.message.content }}"
          }
        }
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000003",
      "name": "Google Sheets - Salvar Frase",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CONFIGURE_AQUI",
          "name": "Google Sheets OAuth"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "OpenAI - Gerar Frase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Gerar Frase": {
      "main": [
        [
          {
            "node": "Google Sheets - Salvar Frase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "semana05-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "kensei-ai-foundations-semana05"
  },
  "id": "workflow-01-kensei-s05",
  "tags": [
    { "name": "kensei-s05" },
    { "name": "openai" },
    { "name": "google-sheets" }
  ]
}
