semana-05/02_notificador_site.json
{
  "name": "02 - Notificador de Site Down → Telegram",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000001",
      "name": "Schedule - A cada 5 min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://kensei.seg.br",
        "options": {
          "timeout": 10000,
          "response": {
            "response": {
              "fullResponse": true,
              "responseFormat": "text"
            }
          }
        }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000002",
      "name": "HTTP Request - Checar Site",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-status-check",
              "leftValue": "={{ $json.statusCode }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000003",
      "name": "IF - Site Fora do Ar?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "chatId": "SEU_CHAT_ID_TELEGRAM_AQUI",
        "text": "=🚨 *ALERTA: Site Fora do Ar!*\n\n🌐 Site: https://kensei.seg.br\n⏰ Hora: {{ $now.format('dd/MM/yyyy HH:mm:ss') }}\n❌ Status: {{ $json.statusCode || 'Sem resposta (timeout)' }}\n\n_Verificar imediatamente._",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000004",
      "name": "Telegram - Site DOWN",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 200],
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_AQUI",
          "name": "Telegram Bot API"
        }
      }
    },
    {
      "parameters": {
        "chatId": "SEU_CHAT_ID_TELEGRAM_AQUI",
        "text": "=✅ *Site Operacional*\n\n🌐 Site: https://kensei.seg.br\n⏰ Hora: {{ $now.format('dd/MM/yyyy HH:mm:ss') }}\n✔️ Status: {{ $json.statusCode }}\n\n_Tudo funcionando normalmente._",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "b2c3d4e5-0002-4000-8000-000000000005",
      "name": "Telegram - Site OK",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [900, 400],
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_AQUI",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "connections": {
    "Schedule - A cada 5 min": {
      "main": [
        [
          {
            "node": "HTTP Request - Checar Site",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request - Checar Site": {
      "main": [
        [
          {
            "node": "IF - Site Fora do Ar?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF - Site Fora do Ar?": {
      "main": [
        [
          {
            "node": "Telegram - Site DOWN",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram - Site OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "semana05-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "kensei-ai-foundations-semana05"
  },
  "id": "workflow-02-kensei-s05",
  "tags": [
    { "name": "kensei-s05" },
    { "name": "monitoring" },
    { "name": "telegram" }
  ]
}
