semana-05/03_threat_intel_diario.json
{
  "name": "03 - Threat Intel Diário com IA → Email",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000001",
      "name": "Schedule - Toda manhã 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [240, 400]
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/TheHackersNews",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000002",
      "name": "RSS - The Hacker News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [460, 280]
    },
    {
      "parameters": {
        "url": "https://www.bleepingcomputer.com/feed/",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000003",
      "name": "RSS - BleepingComputer",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [460, 440]
    },
    {
      "parameters": {
        "url": "https://krebsonsecurity.com/feed/",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000004",
      "name": "RSS - KrebsOnSecurity",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [460, 600]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000005",
      "name": "Merge - Unir Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [680, 440]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-24h-filter",
              "leftValue": "={{ $json.isoDate }}",
              "rightValue": "={{ $now.minus(1, 'day').toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000006",
      "name": "Filter - Últimas 24h",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [900, 440]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Você é um analista de cybersecurity sênior. Analise notícias de segurança e crie um briefing executivo conciso em português."
            },
            {
              "content": "=Analise as seguintes notícias de cybersecurity das últimas 24h e crie um briefing executivo em português:\n\nTítulo: {{ $json.title }}\nLink: {{ $json.link }}\nData: {{ $json.isoDate }}\nResumo: {{ $json.contentSnippet || $json.content || 'Sem resumo disponível' }}\n\nFormate como:\n🔴 CRÍTICO / 🟡 MÉDIO / 🟢 BAIXO [Criticidade]\n📌 [Título em português]\n💡 [Resumo em 2 linhas máximo]\n🔗 [Link da fonte]"
            }
          ]
        }
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000007",
      "name": "OpenAI - Resumir e Classificar",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [1120, 440],
      "credentials": {
        "openAiApi": {
          "id": "CONFIGURE_AQUI",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "noticias",
        "include": "specifiedFields",
        "fieldsToInclude": {
          "fieldToInclude": [
            { "fieldName": "message.content" }
          ]
        },
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000008",
      "name": "Aggregate - Juntar Resumos",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1340, 440]
    },
    {
      "parameters": {
        "fromEmail": "seu-email@gmail.com",
        "toEmail": "seu-email@gmail.com",
        "subject": "=🔒 Threat Intel Diário — {{ $now.format('dd/MM/yyyy') }}",
        "emailType": "html",
        "message": "=<html><body style=\"font-family: Arial, sans-serif; background: #0d0d0d; color: #e0e0e0; padding: 20px;\">\n<h1 style=\"color: #00c896;\">🔒 Threat Intel Diário</h1>\n<p style=\"color: #888;\">{{ $now.format('dd/MM/yyyy HH:mm') }} | Fontes: The Hacker News, BleepingComputer, KrebsOnSecurity</p>\n<hr style=\"border-color: #333;\">\n<div style=\"background: #1a1a1a; padding: 20px; border-radius: 8px; border-left: 4px solid #00c896;\">\n{{ $json.noticias.map(n => n['message.content']).join('<br><hr style=\"border-color:#333;\"><br>') }}\n</div>\n<hr style=\"border-color: #333;\">\n<p style=\"color: #555; font-size: 12px;\">Kensei AI Foundations 2026 | Automatizado com n8n</p>\n</body></html>",
        "options": {}
      },
      "id": "c3d4e5f6-0003-4000-8000-000000000009",
      "name": "Email - Enviar Digest",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1560, 440],
      "credentials": {
        "smtp": {
          "id": "CONFIGURE_AQUI",
          "name": "SMTP Email"
        }
      }
    }
  ],
  "connections": {
    "Schedule - Toda manhã 8h": {
      "main": [
        [
          { "node": "RSS - The Hacker News", "type": "main", "index": 0 },
          { "node": "RSS - BleepingComputer", "type": "main", "index": 0 },
          { "node": "RSS - KrebsOnSecurity", "type": "main", "index": 0 }
        ]
      ]
    },
    "RSS - The Hacker News": {
      "main": [[{ "node": "Merge - Unir Feeds", "type": "main", "index": 0 }]]
    },
    "RSS - BleepingComputer": {
      "main": [[{ "node": "Merge - Unir Feeds", "type": "main", "index": 1 }]]
    },
    "RSS - KrebsOnSecurity": {
      "main": [[{ "node": "Merge - Unir Feeds", "type": "main", "index": 2 }]]
    },
    "Merge - Unir Feeds": {
      "main": [[{ "node": "Filter - Últimas 24h", "type": "main", "index": 0 }]]
    },
    "Filter - Últimas 24h": {
      "main": [[{ "node": "OpenAI - Resumir e Classificar", "type": "main", "index": 0 }]]
    },
    "OpenAI - Resumir e Classificar": {
      "main": [[{ "node": "Aggregate - Juntar Resumos", "type": "main", "index": 0 }]]
    },
    "Aggregate - Juntar Resumos": {
      "main": [[{ "node": "Email - Enviar Digest", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "semana05-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "kensei-ai-foundations-semana05"
  },
  "id": "workflow-03-kensei-s05",
  "tags": [
    { "name": "kensei-s05" },
    { "name": "threat-intel" },
    { "name": "openai" },
    { "name": "email" }
  ]
}
