semana-05/05_telegram_mensagem_diaria.json
{
  "name": "05 - Telegram Mensagem Diaria (RSS + Gemini)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "d5e6f7a8-0005-4000-8000-000000000001",
      "name": "Schedule - Toda manha 8h",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [220, 420]
    },
    {
      "parameters": {
        "url": "https://feeds.feedburner.com/TheHackersNews",
        "options": {}
      },
      "id": "d5e6f7a8-0005-4000-8000-000000000002",
      "name": "RSS - The Hacker News",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [440, 280]
    },
    {
      "parameters": {
        "url": "https://www.bleepingcomputer.com/feed/",
        "options": {}
      },
      "id": "d5e6f7a8-0005-4000-8000-000000000003",
      "name": "RSS - BleepingComputer",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [440, 420]
    },
    {
      "parameters": {
        "url": "https://krebsonsecurity.com/feed/",
        "options": {}
      },
      "id": "d5e6f7a8-0005-4000-8000-000000000004",
      "name": "RSS - KrebsOnSecurity",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.1,
      "position": [440, 560]
    },
    {
      "parameters": {
        "mode": "append",
        "options": {}
      },
      "id": "d5e6f7a8-0005-4000-8000-000000000005",
      "name": "Merge - Unir Feeds",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [660, 420]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-filter-24h-telegram",
              "leftValue": "={{ $json.isoDate }}",
              "rightValue": "={{ $now.minus(1, 'day').toISO() }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d5e6f7a8-0005-4000-8000-000000000006",
      "name": "Filter - Ultimas 24h",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [880, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GOOGLE_API_KEY || '' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [ { role: 'user', parts: [ { text: `Voce e um analista de cybersecurity senior. Analise esta noticia e responda em portugues de forma curta no formato:\n🔴 CRITICO / 🟡 MEDIO / 🟢 BAIXO [Criticidade]\n📌 [Titulo em portugues]\n💡 [Resumo em 2 linhas]\n🔗 [Link]\n\nNoticia:\nTitulo: ${$json.title || 'Sem titulo'}\nLink: ${$json.link || 'Sem link'}\nData: ${$json.isoDate || 'Sem data'}\nResumo: ${$json.contentSnippet || $json.content || 'Sem resumo disponivel'}` } ] } ], generationConfig: { temperature: 0.2 } } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "d5e6f7a8-0005-4000-8000-000000000007",
      "name": "Gemini - Resumir e Classificar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1110, 420]
    },
    {
      "parameters": {
        "jsCode": "const resumo = $json?.candidates?.[0]?.content?.parts?.map(p => p.text || '').join('\\n').trim() || 'Sem resumo gerado.';\nreturn [{ json: { resumo_classificacao: resumo } }];"
      },
      "id": "d5e6f7a8-0005-4000-8000-000000000008",
      "name": "Code - Extrair Resumo Gemini",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1330, 420]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "noticias",
        "include": "specifiedFields",
        "fieldsToInclude": "resumo_classificacao",
        "options": {}
      },
      "id": "d5e6f7a8-0005-4000-8000-000000000009",
      "name": "Aggregate - Juntar Resumos",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [1550, 420]
    },
    {
      "parameters": {
        "jsCode": "const agora = new Date();\nconst data = agora.toLocaleString('pt-BR', { hour12: false });\nconst itens = Array.isArray($json.noticias) ? $json.noticias.map(n => n.resumo_classificacao).filter(Boolean) : [];\nconst corpo = itens.length ? itens.join('\\n\\n--------------------\\n\\n') : 'Nenhuma noticia encontrada nas ultimas 24h.';\nconst mensagem = `🔒 *Threat Intel Diario*\\n📅 ${data}\\n🛰️ Fontes: THN, BleepingComputer, KrebsOnSecurity\\n\\n${corpo}`;\nreturn [{ json: { telegram_text: mensagem.slice(0, 3900) } }];"
      },
      "id": "d5e6f7a8-0005-4000-8000-000000000010",
      "name": "Code - Montar Mensagem Telegram",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1770, 420]
    },
    {
      "parameters": {
        "chatId": "={{ String($env.TELEGRAM_CHANNEL_ID || 'SEU_CHAT_ID_TELEGRAM_AQUI').replace(/[\"']/g, '').trim() }}",
        "text": "={{ $json.telegram_text }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "d5e6f7a8-0005-4000-8000-000000000011",
      "name": "Telegram - Enviar no Canal",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [1990, 420],
      "credentials": {
        "telegramApi": {
          "id": "CONFIGURE_AQUI",
          "name": "Telegram Bot API"
        }
      }
    }
  ],
  "connections": {
    "Schedule - Toda manha 8h": {
      "main": [
        [
          { "node": "RSS - The Hacker News", "type": "main", "index": 0 },
          { "node": "RSS - BleepingComputer", "type": "main", "index": 0 },
          { "node": "RSS - KrebsOnSecurity", "type": "main", "index": 0 }
        ]
      ]
    },
    "RSS - The Hacker News": {
      "main": [[{ "node": "Merge - Unir Feeds", "type": "main", "index": 0 }]]
    },
    "RSS - BleepingComputer": {
      "main": [[{ "node": "Merge - Unir Feeds", "type": "main", "index": 1 }]]
    },
    "RSS - KrebsOnSecurity": {
      "main": [[{ "node": "Merge - Unir Feeds", "type": "main", "index": 2 }]]
    },
    "Merge - Unir Feeds": {
      "main": [[{ "node": "Filter - Ultimas 24h", "type": "main", "index": 0 }]]
    },
    "Filter - Ultimas 24h": {
      "main": [[{ "node": "Gemini - Resumir e Classificar", "type": "main", "index": 0 }]]
    },
    "Gemini - Resumir e Classificar": {
      "main": [[{ "node": "Code - Extrair Resumo Gemini", "type": "main", "index": 0 }]]
    },
    "Code - Extrair Resumo Gemini": {
      "main": [[{ "node": "Aggregate - Juntar Resumos", "type": "main", "index": 0 }]]
    },
    "Aggregate - Juntar Resumos": {
      "main": [[{ "node": "Code - Montar Mensagem Telegram", "type": "main", "index": 0 }]]
    },
    "Code - Montar Mensagem Telegram": {
      "main": [[{ "node": "Telegram - Enviar no Canal", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "semana05-v2",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "kensei-ai-foundations-semana05"
  },
  "id": "workflow-05-kensei-s05",
  "tags": [
    { "name": "kensei-s05" },
    { "name": "threat-intel" },
    { "name": "gemini" },
    { "name": "telegram" }
  ]
}
