semana-06/03_converse_com_seus_dados_csv.json
{
  "name": "03 - Converse com Seus Dados (CSV)",
  "nodes": [
    {
      "parameters": {},
      "id": "s06-pdf-03-0001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        220,
        300
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "pergunta",
              "value": "Quais sao os 3 maiores valores de perdas financeiras?"
            },
            {
              "name": "csv_path",
              "value": "data/cybersecurity_attacks.csv"
            }
          ]
        }
      },
      "id": "s06-pdf-03-0002",
      "name": "Set - Pergunta e Caminho",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{ json: { ...$json, observacao: 'Neste template, a analise CSV e feita por Code Tool/Python no n8n.' } }];"
      },
      "id": "s06-pdf-03-0003",
      "name": "Code - Preparar Contexto",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        730,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "key",
              "value": "={{ $env.GOOGLE_API_KEY || '' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { contents: [ { role: 'user', parts: [ { text: `Voce e um agente de IA para SOC. Analise os dados do item atual e responda de forma objetiva.\\n\\nDados:\\n${JSON.stringify($json, null, 2)}` } ] } ], generationConfig: { temperature: 0.3 } } }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "s06-pdf-03-0004",
      "name": "Gemini - Assistente de Dados",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1010,
        300
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Set - Pergunta e Caminho",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set - Pergunta e Caminho": {
      "main": [
        [
          {
            "node": "Code - Preparar Contexto",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Preparar Contexto": {
      "main": [
        [
          {
            "node": "Gemini - Assistente de Dados",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "semana06-pdf-03-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "kensei-ai-foundations-semana06"
  },
  "id": "workflow-pdf-03-kensei-s06",
  "tags": [
    {
      "name": "kensei-s06"
    },
    {
      "name": "pdf"
    },
    {
      "name": "csv"
    }
  ]
}
