semana-06/04_orquestrador_multiagente_soc.json
{
  "name": "04 - Orquestrador Multiagente SOC",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "soc-multiagente",
        "responseMode": "responseNode"
      },
      "id": "e1f2a3b4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [220, 300],
      "webhookId": "kensei-s06-soc-multiagente"
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Você é o Agente 1 (Analista). Faça diagnóstico técnico inicial do incidente. Retorne APENAS JSON com: diagnostico, hipoteses, evidencias_faltantes."
            },
            {
              "role": "user",
              "content": "={{ `Dados do incidente:\\n${JSON.stringify($json, null, 2)}` }}"
            }
          ]
        }
      },
      "id": "e1f2a3b4-0001-4000-8000-000000000002",
      "name": "OpenAI - Agente Analista",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [470, 300],
      "credentials": {
        "openAiApi": {
          "id": "CONFIGURE_AQUI",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "complete",
        "model": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Você é o Agente 2 (Resposta). Com base no diagnóstico do Agente 1, proponha plano de resposta. Retorne APENAS JSON com: passos_imediatos, comunicacao, mitigacao, proxima_revisao_minutos."
            },
            {
              "role": "user",
              "content": "={{ `Entrada original: ${JSON.stringify($('Webhook').item.json, null, 2)}\\nSaida do agente analista: ${$json.message.content}` }}"
            }
          ]
        }
      },
      "id": "e1f2a3b4-0001-4000-8000-000000000003",
      "name": "OpenAI - Agente Resposta",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [730, 300],
      "credentials": {
        "openAiApi": {
          "id": "CONFIGURE_AQUI",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const analistaRaw = $('OpenAI - Agente Analista').item.json.message?.content || '{}';\nconst respostaRaw = $json.message?.content || '{}';\n\nfunction safeParse(value, fallback) {\n  try {\n    return JSON.parse(value);\n  } catch (e) {\n    return fallback;\n  }\n}\n\nconst analista = safeParse(analistaRaw, { bruto: analistaRaw });\nconst resposta = safeParse(respostaRaw, { bruto: respostaRaw });\n\nreturn [{\n  json: {\n    incidente: $('Webhook').item.json,\n    agente_analista: analista,\n    agente_resposta: resposta,\n    consolidado_em: new Date().toISOString(),\n    fluxo: '04_orquestrador_multiagente_soc'\n  }\n}];"
      },
      "id": "e1f2a3b4-0001-4000-8000-000000000004",
      "name": "Code - Consolidar",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [990, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "e1f2a3b4-0001-4000-8000-000000000005",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1240, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "OpenAI - Agente Analista",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Agente Analista": {
      "main": [
        [
          {
            "node": "OpenAI - Agente Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Agente Resposta": {
      "main": [
        [
          {
            "node": "Code - Consolidar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code - Consolidar": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "semana06-v1",
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": "kensei-ai-foundations-semana06"
  },
  "id": "workflow-04-kensei-s06",
  "tags": [
    {
      "name": "kensei-s06"
    },
    {
      "name": "multi-agent"
    },
    {
      "name": "soc"
    }
  ]
}
